[Unit]
Description=ASP Core blog 

[Service]
WorkingDirectory=/var/asp/blog
ExecStart=/usr/bin/dotnet /var/asp/blog/PolyMicron.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
SyslogIdentifier=polymicronblog
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=DOTNET_CLI_TELEMETRY_OPTOUT=1

[Install]
WantedBy=multi-user.target
