@{ 
    Layout = "MainLayout";
    ViewBag.HideNavbar = true;
    ViewBag.Title = "Not found";
}

<div class="hero is-danger page-content">
    <div class="hero-body">
        <h1 class="title">These are not the droids you are looking for.</h1>
        <h1 class="title">404 Not found - @ViewBag.Path</h1>
    </div>
</div>
