@{ 
    ViewBag.Title = "About";
}

<div class="container page-content">
    <div class="box is-angular content">
        <h3 class="title is-3">About Blog</h3>
        <p>
            Lorem ipsum about blog.
        </p>
        <h4>FAQ - Questions never asked by anyone</h3>
        <ul>
            <li>
                <p>
                    <strong>Where can I submit suggestions ?</strong>
                </p>
                Don't
            </li>
            <li>
                <p>
                    <strong>This blog somehow offends me ?!</strong>
                </p>
                <a href="mailto:no-one.cares@dev.null">Send me an email</a>
            </li>
        </ul>
        <h3 class="title is-3">Privacy Policy</h3>
        <p>
            To prevent bot spam posts there is Google's ReCaptcha check their <a href="https://policies.google.com/privacy">Privacy policy</a>.
            Any cookies bound to this domain contain no personal information neither I store any personal info.
        </p>
        <p>How this blog identifies you ? As a Human, crawler maybe. Try some Turing test online if you are not sure.</p>
    </div>
</div>
